
#mainNav {
  background-color: rgb(226, 191, 191);
}

.navbar-brand, #mainNav ul li a {
  color: #152754 !important;
  font-weight: 900 !important;
  text-transform: uppercase;
}
.btn, .card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-control {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.container-fluid {
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
}
.forms {
  margin-bottom: 10vh;
}

.btn {
  color: #fff;
  background-color: #152754;
  border-color: #152754;
}
.form-control {
  border: 2px solid #152754 !important;
}
 a {
    color: #152754;
    text-decoration: none;
}

.doc {
  width: 20vh;
}
.card {
  padding: 1rem;
}



